* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  width: 100%;
  min-height: 100%;
}

body {
  background: #1F150C;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
}

button,
input {
  font-family: inherit;
}
